#maven ignore
target/
*.tar.gz
*.jar
*.war
*.ear

#idea ignore
.idea/
*.iml
*.ipr
*.iws



#eclipse ignore
.settings/
.project
.classpath

#temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

#system ignore
.DS_Store
Thumbs.db
.idea

# other edit
*.vscode
