<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width"/>
    <title>天猫商家创作平台</title>
    <link rel="stylesheet" type="text/css"
          href="$!index_css">

</head>

<body>
<div id="ice-container"></div>
<script type="text/javascript" charset="utf-8"
        src="$!index_js"></script>
</body>
</html>

