.icon-home{
    font-size: 70px;
}
.nav-tabs .active a {
    border-top: solid 1px #2c4762 !important;
    background: #2c4762 !important;
    color: #fff !important;
}
.btn-primary {
    background-color: #2c4762;
    border-color: #2c4762;
}
.label-primary{
    background-color: #2c4762 !important;
}
.box.box-primary {
    border-top-color: #2c4762;
}
.response{
    width: 140px;
    height: 60px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
    position: fixed;
    top: 100px;
    right: -140px;
    background: #ffffff;
    z-index: 9999;
}
.response p{
    text-align: center;
    line-height: 60px;
}
.response-sch{
    top: 700px;
}