html,body{
    height: 100%;
    width: 100%;
}
body{
    background: url("../images/login-bg2.jpg") left 100% no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
.login{
    width: 400px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    background: #ffffff;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
}
.title{
    margin-bottom: 20px;
}
#loginForm label{
    margin-right: 10px;
}
