div#rMenu {
    position: absolute;
    visibility: hidden;
    top: 0;
    background-color: #40a8e4;
    text-align: left;
    padding: 2px;
}

div#rMenu ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

div#rMenu ul li {
    margin: 1px 0;
    padding: 0 50px;
    cursor: pointer;
    list-style: none outside none;
    background-color: #40a8e4;
}

.devStyle {
    margin-top: 0px;
    margin-buttom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    background-color: #eee;
    border: 1px solid #ddd;
}
.btn-xs{
    font-size: 14px;
}

