div#rMenu {
    position: absolute;
    visibility: hidden;
    top: 0;
    background-color: #40a8e4;
    text-align: left;
    padding: 2px;
}

div#rMenu ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

div#rMenu ul li {
    margin: 1px 0;
    padding: 0 50px;
    cursor: pointer;
    list-style: none outside none;
    background-color: #40a8e4;
}

.devStyle {
    margin-top: 0px;
    margin-buttom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    background-color: #eee;
    border: 1px solid #ddd;
}
.tip{
    color: red;
}
#jobDetail{
    height: 200px;
}
#timeline {
    position: relative;
    margin-top: 10px;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    border: 1px solid dimgray;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);
}

#timeline .selected {
    font-weight: bold;
    box-shadow: 0px 0px 3px 1px gray;
}

#timeline-collapse {
    top: 100px
}

.styleA {
    color: darkgreen;
    background-color: lightgreen;
}

.styleB {
    color: darkred;
    background-color: mistyrose;
}

.styleC {
    color: darkblue;
    background-color: lightblue;
}

.timeline-unused-phase {
    background: repeating-linear-gradient(
            -45deg,
            rgba(255, 255, 255, 0.85),
            rgba(255, 255, 255, 0.85) 10px,
            rgba(235, 235, 235, 0.85) 10px,
            rgba(235, 235, 235, 0.85) 20px
    );
}
#jobLog .form-control{
    background: #2c4762;
    color: #ffffff;
}
