<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <jmxConfigurator/>
    <property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{32}.%M:%L %msg%n%xException%n"/>

    <!--application.yml 传递参数，不能使用logback 自带的<property>标签 -->
    <springProperty scope="context" name="logPath" source="logging.path"/>
    <springProperty scope="context" name="logLevel" source="logging.allLevel"/>
    <springProperty scope="context" name="immediateFlush" source="logging.immediate.flush"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${PATTERN}</pattern>
            <immediateFlush>${immediateFlush}</immediateFlush>
        </encoder>
    </appender>


    <appender name="scheduleLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/schedule.log</file>
        <Append>true</Append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/bak/schedule.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <!-- keep 10 days worth of history -->
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${PATTERN}</pattern>
            <immediateFlush>${immediateFlush}</immediateFlush>
        </encoder>
    </appender>
    <appender name="socketLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/socket.log</file>
        <Append>true</Append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/bak/socket.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <!-- keep 10 days worth of history -->
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${PATTERN}</pattern>
            <immediateFlush>${immediateFlush}</immediateFlush>
        </encoder>
    </appender>
    <appender name="heraLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/hera.log</file>
        <Append>true</Append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/bak/hera.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <!-- keep 10 days worth of history -->
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${PATTERN}</pattern>
            <immediateFlush>${immediateFlush}</immediateFlush>
        </encoder>
    </appender>
    <appender name="debugLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/debug.log</file>
        <Append>true</Append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/bak/debug.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <!-- keep 10 days worth of history -->
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${PATTERN}</pattern>
            <immediateFlush>${immediateFlush}</immediateFlush>
        </encoder>
    </appender>

    <appender name="all" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/info.log</file>
        <Append>true</Append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/bak/info.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <!-- keep 10 days worth of history -->
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${PATTERN}</pattern>
            <immediateFlush>${immediateFlush}</immediateFlush>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="masterLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/master.log</file>
        <Append>true</Append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/bak/master.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <!-- keep 10 days worth of history -->
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${PATTERN}</pattern>
            <immediateFlush>${immediateFlush}</immediateFlush>
        </encoder>
    </appender>

    <appender name="workerLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/worker.log</file>
        <Append>true</Append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/bak/worker.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <!-- keep 10 days worth of history -->
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${PATTERN}</pattern>
            <immediateFlush>${immediateFlush}</immediateFlush>
        </encoder>
    </appender>


    <appender name="heartLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/heart.log</file>
        <Append>true</Append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/bak/heart.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <!-- keep 10 days worth of history -->
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${PATTERN}</pattern>
            <immediateFlush>${immediateFlush}</immediateFlush>
        </encoder>
    </appender>

    <appender name="scanLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/scanLog.log</file>
        <Append>true</Append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/bak/scan.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <!-- keep 10 days worth of history -->
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${PATTERN}</pattern>
            <immediateFlush>${immediateFlush}</immediateFlush>
        </encoder>
    </appender>

    <appender name="taskLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/taskLog.log</file>
        <Append>true</Append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/bak/task.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <!-- keep 10 days worth of history -->
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${PATTERN}</pattern>
            <immediateFlush>${immediateFlush}</immediateFlush>
        </encoder>
    </appender>
    <appender name="errorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/errorLog.log</file>
        <Append>true</Append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/bak/error.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <!-- keep 10 days worth of history -->
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${PATTERN}</pattern>
            <immediateFlush>${immediateFlush}</immediateFlush>
        </encoder>
    </appender>
    <appender name="monitorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/monitorLog.log</file>
        <Append>true</Append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/bak/monitor.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <!-- keep 10 days worth of history -->
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${PATTERN}</pattern>
            <immediateFlush>${immediateFlush}</immediateFlush>
        </encoder>
    </appender>



    <!--控制台打印资源加载信息-->
    <root>
        <level value="${logLevel}"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="all"/>
    </root>


    <logger name="com.dfire.logs.TaskLog" additivity="true">
        <level value="INFO"/>
        <appender-ref ref="taskLog"/>
    </logger>
    <logger name="com.dfire.logs.MonitorLog" additivity="true">
        <level value="INFO"/>
        <appender-ref ref="monitorLog"/>
    </logger>
    <logger name="com.dfire.logs.HeartLog" additivity="true">
        <level value="INFO"/>
        <appender-ref ref="heartLog"/>
    </logger>
    <logger name="com.dfire.logs.MasterLog" additivity="true">
        <level value="WARN"/>
        <appender-ref ref="masterLog"/>
    </logger>
    <logger name="com.dfire.logs.WorkerLog" additivity="true">
        <level value="WARN"/>
        <appender-ref ref="workerLog"/>
    </logger>
    <logger name="com.dfire.logs.ScheduleLog" additivity="true">
        <level value="INFO"/>
        <appender-ref ref="scheduleLog"/>
    </logger>
    <logger name="com.dfire.logs.SocketLog" additivity="true">
        <level value="INFO"/>
        <appender-ref ref="socketLog"/>
    </logger>
    <logger name="com.dfire.logs.HeraLog" additivity="true">
        <level value="INFO"/>
        <appender-ref ref="heraLog"/>
    </logger>
    <logger name="com.dfire.logs.DebugLog" additivity="true">
        <level value="INFO"/>
        <appender-ref ref="debugLog"/>
    </logger>

    <logger name="com.dfire.logs.ScanLog" additivity="true">
        <level value="INFO"/>
        <appender-ref ref="scanLog"/>
    </logger>

    <logger name="com.dfire.logs.ErrorLog" additivity="true">
        <level value="INFO"/>
        <appender-ref ref="errorLog"/>
    </logger>

</configuration>
